@namespace PadDatePicker

@using System.Globalization
@using System.Text

<div class="flex months datepicker-grid w-64 grid grid-cols-4">
    @for (var index = 1; index <= 12; index++)
    {
        <PadDatePickerYearBtn Index="@index" />
    }
</div>

@code {
    [CascadingParameter(Name = "DatePicker")] public PadDatePickerBase? DatePicker { get; set; }
}