@namespace PadDatePicker

@inherits Tools.PadDatePickerGeneric<PadDateTimeRange>

<CascadingValue Name="DatePicker" Value="this">
    <div class="inline-block">
        @if (HeaderTemplate != null)
        {
            @HeaderTemplate
        }
        <div>
            @if (ShowLabelOnHeader)
            {
                <div class="@Classes?.PickerHeaderLabel">
                    @Label
                </div>
            }
            <PadDatePickerHeader />
        </div>
        <div class="p-1">
            <PadDatePickerBody />
        </div>
        @if (ShowToDayButton || ShowClearButton || ShowOkButton)
        {
            <div>
                <div class="@Classes?.FooterWrapper">
                    @if (ShowToDayButton && _bodyViewType.Equals(PadDatePickerViewType.Day))
                    {
                        <button @onclick="GoToToday"
                                type="button"
                                class="@Classes?.GoToTodayButton">
                            @ToDayButtonText
                        </button>
                    }
                    @if (ShowClearButton)
                    {
                        <button @onclick="ClearButtonClickd"
                                type="button"
                                class="@Classes?.ClearButton">
                            @ClearButtonText
                        </button>
                    }
                    @if (ShowOkButton)
                    {
                        <button @onclick="OkButtonClicked"
                                type="button"
                                class="@Classes?.ClearButton">
                            @OkButtonText
                        </button>
                    }
                </div>
            </div>
        }
        @if (FooterTemplate != null)
        {
            @FooterTemplate
        }
    </div>
</CascadingValue>